In [2]:
import pandas as pd

In [6]:
df0 = pd.read_parquet('train-00000-of-00003.parquet')

In [8]:
df1 = pd.read_parquet('train-00001-of-00003.parquet')

In [10]:
df2 = pd.read_parquet('train-00002-of-00003.parquet')

In [18]:
k1 = df1[df1['source'] == 'cn_k12']

In [20]:
k2 = df2[df2['source'] == 'cn_k12']

In [24]:
k0= df0[df0['source'] == 'cn_k12']

In [26]:
k0.describe()

,problem,solution,answer,problem_type,question_type,problem_is_valid,solution_is_valid,source,synthetic
count,18263,18263,18124,18263,18263,18263,18263,18263,18263
unique,18263,18251,7476,8,4,4,3,1,1
top,Given the functions $f(x) = \log_a(1+x)$ and $...,The correct answer is $\boxed{\text{B}}$. \nB...,C,Algebra,math-word-problem,Yes,Yes,cn_k12,False
freq,1,4,1115,10778,10073,17924,17719,18263,18263

In [28]:
k1.describe()

,problem,solution,answer,problem_type,question_type,problem_is_valid,solution_is_valid,source,synthetic
count,250551,250551,248576,250551,250551,250551,250551,250551,250551
unique,250551,250095,70485,8,4,4,3,1,1
top,Which of the following operations is correct?\...,The correct answer is $\boxed{\text{B}}$. \n(...,C,Algebra,math-word-problem,Yes,Yes,cn_k12,False
freq,1,25,15463,149051,138937,245629,243079,250551,250551

In [30]:
k2.describe()

,problem,solution,answer,problem_type,question_type,problem_is_valid,solution_is_valid,source,synthetic
count,5,5,5,5,5,5,5,5,5
unique,5,5,4,1,1,1,1,1,1
top,What is the units digit of the sum of the squa...,\nTo determine the units digit of the sum of t...,1,NaN,NaN,NaN,NaN,cn_k12,False
freq,1,1,2,5,5,5,5,5,5

In [32]:
k0.columns

Index(['problem', 'solution', 'answer', 'problem_type', 'question_type',
       'problem_is_valid', 'solution_is_valid', 'source', 'synthetic'],
      dtype='object')

In [42]:
k0['problem_type'].value_counts()

problem_type
Algebra              10778
Geometry              3327
Calculus              1175
Inequalities          1091
Combinatorics          902
Number Theory          465
Logic and Puzzles      342
Other                  183
Name: count, dtype: int64

In [44]:
k1['problem_type'].value_counts()

problem_type
Algebra              149051
Geometry              44937
Calculus              16051
Inequalities          14267
Combinatorics         12682
Number Theory          6081
Logic and Puzzles      4959
Other                  2523
Name: count, dtype: int64

In [64]:
k0_algebra = k0[k0['problem_type'] == 'Algebra']

In [66]:
k0_algebra.head(n=10)

,problem,solution,answer,problem_type,question_type,problem_is_valid,solution_is_valid,source,synthetic
280476,Given the functions $f(x) = \log_a(1+x)$ and $...,1. Since $f(x) = \log_a(1+x)$ and $g(x) = \log...,"(-1, 0)",Algebra,math-word-problem,Yes,Yes,cn_k12,False
280479,Factorize: $x^{3}-6x^{2}+9x=\_\_\_\_\_\_.$,To factorize the given expression $x^{3}-6x^{2...,x\left(x-3\right)^{2},Algebra,math-word-problem,Yes,Yes,cn_k12,False
280480,Given that the sum of the first $n$ terms of a...,"Since $S\_n=2^{n}a\_n-1$,\nwe have $S_{n-1}=2^...",T\_n=2n+\frac{1}{2^{n}}-1,Algebra,math-word-problem,Yes,Yes,cn_k12,False
280483,Given the following four propositions: \n① Th...,"① The negation of the proposition ""For all $x ...",①③,Algebra,math-word-problem,Yes,Yes,cn_k12,False
280484,Observe the pattern of the following equations...,### Step-by-Step Solution\n\n#### Part 1: Find...,n^{2}+\left(n+1\right)^{2}-\left(n+2\right)^{2...,Algebra,math-word-problem,Yes,Yes,cn_k12,False
280487,"Given the plane vectors $\overrightarrow{a}$, ...",Solution:\n\n(1) Since $\overrightarrow{a} \pa...,\frac{1}{6},Algebra,math-word-problem,Yes,Yes,cn_k12,False
280489,"Given the function $f(x)=-x^{5}-3x^{3}-5x+3$, ...","Since $f(x)=-x^{5}-3x^{3}-5x+3$, \nwe have $f...",None,Algebra,MCQ,Yes,Yes,cn_k12,False
280490,The correct statement is \_\_\_\_\_\_ (only fi...,"$①$ From the set $A={y|y=x-1}=R$, $B={y|y=x^{2...",④,Algebra,math-word-problem,Yes,Yes,cn_k12,False
280491,"Given the sequence ${a_n}$, the sum of the fir...",Since $S_n = n^2$ by definition of the sum of ...,B,Algebra,MCQ,Yes,Yes,cn_k12,False
280493,Given a complex number $z$ satisfying $\frac {...,Since the complex number $z$ satisfies $\frac ...,C,Algebra,MCQ,Yes,Yes,cn_k12,False

In [68]:
aops_0 = df0[df0['source'] == 'aops_forum']

In [72]:
aops_0['problem_type'].value_counts()

problem_type
Geometry             20500
Number Theory        12980
Combinatorics         9254
Logic and Puzzles     6476
Algebra               6456
Inequalities          4912
Calculus              3350
Other                 1865
Name: count, dtype: int64

In [82]:
aops_2 = df2[df2['source'] == 'aops_forum']

In [86]:
aops_2.head()

,problem,solution,answer,problem_type,question_type,problem_is_valid,solution_is_valid,source,synthetic
147773,There are $n > 2022$ cities in the country. So...,\nTo determine whether there is always an unlu...,Yes,NaN,NaN,NaN,NaN,aops_forum,False
147774,Find the largest real number $\lambda$ with th...,\nTo find the largest real number \(\lambda\) ...,\sqrt{3},NaN,NaN,NaN,NaN,aops_forum,False
147775,Find all positive integers $a$ such that there...,"\nTo solve the problem, we need to find all po...",26,NaN,NaN,NaN,NaN,aops_forum,False
147776,Let $C=\{ z \in \mathbb{C} : |z|=1 \}$ be the ...,\nTo find the maximum of \( |z_1 + z_2 + \cdot...,2,NaN,NaN,NaN,NaN,aops_forum,False
147777,"Let $a, b, c, p, q, r$ be positive integers wi...",\nTo determine the smallest positive integer \...,p^^^,NaN,NaN,NaN,NaN,aops_forum,False

In [88]:
olym_0 = df0[df0['source'] == 'olympiads']

In [110]:
olym_0.iloc[1]['solution']

'\nSolution. Firstly, we see that\n\n$$\n2019(a-b)=a^{4}-b^{4}=(a-b)(a+b)\\left(a^{2}+b^{2}\\right)\n$$\n\nSince $a \\neq b$, we get $(a+b)\\left(a^{2}+b^{2}\\right)=2019$, so $a+b \\neq 0$. Thus\n\n$$\n\\begin{aligned}\n2 c & =a^{4}-2019 a+b^{4}-2019 b \\\\\n& =a^{4}+b^{4}-2019(a+b) \\\\\n& =a^{4}+b^{4}-(a+b)^{2}\\left(a^{2}+b^{2}\\right) \\\\\n& =-2 a b\\left(a^{2}+a b+b^{2}\\right)\n\\end{aligned}\n$$\n\nHence $a b\\left(a^{2}+a b+b^{2}\\right)=-c0\n$$\n\nthus $a b-a b$ (the equality does not occur since $a+b \\neq 0$ ). So\n\n$$\n-c=a b\\left(a^{2}+a b+b^{2}\\right)<-(a b)^{2} \\Longrightarrow(a b)^{2}<c \\Rightarrow-\\sqrt{c}<a b<\\sqrt{c}\n$$\n\nTherefore, we have $-\\sqrt{c}<a b<0$.\n\nRemark. We can get $c=-a b\\left(a^{2}+a b+b^{2}\\right)$ in several other ways. For example using that,\n\n$$\n(a-b) c=a\\left(b^{4}-2019 b\\right)-b\\left(a^{4}-2019 a\\right)=a b\\left(b^{3}-a^{3}\\right)=a b(b-a)\\left(a^{2}+a b+b^{2}\\right)\n$$\n\nWe can also divide $f(x)=x^{4}-2019 x-c$ by $(x-a)(x-b)$ and look at the constant term of the remainder.\n'

In [120]:
k0['problem_type'].value_counts()

problem_type
Algebra              10778
Geometry              3327
Calculus              1175
Inequalities          1091
Combinatorics          902
Number Theory          465
Logic and Puzzles      342
Other                  183
Name: count, dtype: int64

In [128]:
k1['problem_type'].value_counts()

problem_type
Algebra              149051
Geometry              44937
Calculus              16051
Inequalities          14267
Combinatorics         12682
Number Theory          6081
Logic and Puzzles      4959
Other                  2523
Name: count, dtype: int64

In [138]:
k12_total = pd.concat([k0, k1])

In [142]:
k12_Alegbra = k12_total[(k12_total['problem_type'] == 'Algebra')&(k12_total['problem_is_valid']=='Yes')&(k12_total['solution_is_valid']=='Yes')]

In [146]:
k12_Geo = k12_total[(k12_total['problem_type'] == 'Geometry')&(k12_total['problem_is_valid']=='Yes')&(k12_total['solution_is_valid']=='Yes')]

In [152]:
k12_Calc = k12_total[(k12_total['problem_type'] == 'Calculus')&(k12_total['problem_is_valid']=='Yes')&(k12_total['solution_is_valid']=='Yes')]

In [154]:
k12_Calc.describe()

,problem,solution,answer,problem_type,question_type,problem_is_valid,solution_is_valid,source,synthetic
count,16381,16381,16168,16381,16381,16381,16381,16381,16381
unique,16381,16379,6858,1,4,1,1,1,1
top,"Given the function $f(x)=x\ln x$, if $0 \lt x_...","(1) When $x = 2$, $f(2) = 7$.\n\nTherefore, th...",C,Calculus,math-word-problem,Yes,Yes,cn_k12,False
freq,1,2,718,16381,9875,16381,16381,16381,16381

In [162]:
k12_Alegbra.iloc[3]['problem']

'Given the following four propositions:  \n① The negation of the proposition "For all $x \\in \\mathbb{R}, \\cos(x) > 0$" is "There exists an $x \\in \\mathbb{R}$ such that $\\cos(x) \\leq 0$".  \n② If $0  0$ when $x > 0$, then $f\'(x) < 0$ when $x < 0$.  \n④ For a rectangle with area $S$ and perimeter $l$, the ordered pair of real numbers $(6, 8)$ can be a pair of $(S, l)$ that can be obtained. The correct proposition numbers are ____. (Fill in all correct numbers)'

In [166]:
k12_Calc.tail()

,problem,solution,answer,problem_type,question_type,problem_is_valid,solution_is_valid,source,synthetic
250509,"In the first quadrant, the area enclosed by th...",This problem tests the rules of differentiatio...,\ln{2},Calculus,math-word-problem,Yes,Yes,cn_k12,False
250512,Which of the following derivative operations i...,To determine which derivative operation is cor...,\text{B},Calculus,MCQ,Yes,Yes,cn_k12,False
250525,Given the function $f(x)=(1-k)x+ \frac{1}{e^{x...,(I) The domain of the function is $\mathbb{R}$...,1,Calculus,math-word-problem,Yes,Yes,cn_k12,False
250538,"Given a function $f(x)$ defined on $(0, +\inft...",Starting with the given differential equation ...,"(0,e)",Calculus,math-word-problem,Yes,Yes,cn_k12,False
250545,Define a function $f(x)$ on $\mathbb{R}$ that ...,Let's define $g(x) = e^x f(x) - e^x$ (for $x \...,"(0, +\infty)",Calculus,math-word-problem,Yes,Yes,cn_k12,False

In [168]:
k12_Calc.to_json('k12_Calc', orient = 'records', indent = 4)